.cart-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.logo-cart-container {
    display: flex;
    color: #f2f0f0;
}
.logo-cart-container:hover{
    cursor: pointer;
}

.hardcod-number {
    margin-left: 5px;
    color: #f2f0f0;
}