.icon-cart {
    display: flex;
    width: 100%;
    align-items: center;
}

.icon-cart-trash {
    display: flex;
    align-items: center;
    color: #f2f0f0;
}

.icon-cart-trash:hover {
    cursor: pointer;
}

.logo-cart-container {
    display: flex;
    color: #f2f0f0;
    margin-right: 20px;
   
}
.logo-cart-container:hover{
    cursor: pointer;
}

.hardcod-number {
    margin-left: 5px;
    color: #f2f0f0;
}

.cart-checkout-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px;
    background-color: #2a7080;
    position: absolute;
    top: 7%;
    left: 75%;
    z-index: 50;
}

.cart-checkout-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-checkout-title {
    color: #f2f0f0;
    padding: 7px;
    margin-right: 15px;
}

.cart-checkout-content {
    color: #f2f0f0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 5px;
}

.cart-checkout-text-information{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 25px;
}

.cart-full-blue-essence {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    letter-spacing: 3px;
    padding: 10px;
    line-height: 25px;
    color: rgb(237, 224, 206);
    text-transform: uppercase;
    margin-top: 15px;
}

.cart-checkout-image {
    width: 30%;
}

.finish-purchase {
    text-align: center;
    border-radius: 30px;
    background-color: rgb(181, 138, 77);
    padding: 20px;
    margin: 20px;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #0f1519;
    
}

.finish-purchase:hover {
    cursor: pointer;
    background-color: rgb(237, 224, 206);
    font-weight: bold;
}