.container-prop{
    background-color: #0f1519;
}
.prop {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    background-color: #0f1519;
    color: #f9f9f9;
    margin: 0px;
    padding: 30px;
    text-transform: uppercase;
}

.video-container {
    height: 100vh;
    width: 100%;
    background-color: #0f1519;
}

.container-cards-champ {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 25px;
    background-color: #0f1519;
    padding: 25px 0px;
}

.champion-card {
    background-color: rgb(6, 28, 37);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
}

.champion-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #2a7080;
}

.champion-name {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-weight: 800;
    color: #f2f0f0;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 5px 0;
}

.card {
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@keyframes animation {
    50% {
        background-color: rgb(181, 138, 77);
        color: #0f1519;
    };
}
.animate {
    animation-name: animation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 1.2s;
    animation-timing-function: ease-in-out;
    padding: 15px;
}

.add-button-card-container {
    border-radius: 20px;
    padding: 18px;
    margin: 18px;
    border: none;
    background-color: rgb(181, 138, 77);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 15px;
}
.finalize-purchase {
    border-radius: 20px;
    padding: 18px;
    margin: 18px;
    border: none;
    background-color: rgb(181, 138, 77);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 15px;
}
.finalize-purchase:hover {
    cursor: pointer;
}

.add-button-card-container:hover {
    background-color: rgb(6, 28, 37);
    font-weight: 800;
    cursor: pointer;
    transform: scale(1.10);
    color: #f2f0f0;
    letter-spacing: 2.1px;

}

.link {
    text-decoration: none;
}